.logo {
	height: 25px;
	width: 25px;
}
h2 {
	color: ;
	text-align: center;
}

.covid_update {
	margin: 0 0 30px 0;
}
.sub_selection {
	background-color: #fbfafd;
}
.covid_update h3{
	color: #ff7675;
}
.footer-paragraph {
	text-align : center;
}
.covid-respon {
	heigth: 500px;
	width : 500px;
}
.india-header {
	text-align: center;
}
.covid_links {
	margin: 30px 30px 30px 30px;
}